.table-responsive {
    height: calc(100vh - 235px);
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    width: 350px;
    font-size: 28px;
    margin-left: 30%;

}
  .table-responsive {
    background-color: #fff;
    padding: 5px 10px;
    padding-top: 0;
    border-radius: 5px;
    margin: 6px 0;
  }
  table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .save{
    border: none;
    width: 75px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
  }
  
  .add{
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    margin-right: 14px !important;
  }
  