<div class="row">
  <h1 class="text-center">Book Comet Store</h1>

<div class="row">
  <div class=" d-flex justify-content-end">
    <button class="bg-primary add" type="button" (click)="openModal(editUser, -1)">Add Books</button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th style="width: 70px;"># </th>
        <th>Name</th>
        <th>Authors</th>
        <th>Summary</th>
        <th>Year</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>

    <tbody *ngIf="bookList?.length > 0">
      <tr *ngFor="let d of bookList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
        <td>{{ (i+1) }} </td>
        <td>{{ d.name }}</td>
        <td>{{ d.authors }}</td>
        <td>{{ d.summary }}</td>
        <td>{{ d.year }}</td>
        <td class="d-flex justify-content-center align-items-center">
          <div class="pl-1">
            <button class="sm info bg-primary" type="button" (click)="openModal(editUser, i)">
              <i class="fa fa-edit"></i>
            </button>
          </div>

          <div style="margin-left: 3px;" class="pl-1 ">
            <button class="bg-danger" type="button" (click)="confirmDelModal(confirmDel, i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<ng-template #editUser>
  <div class="modal-header d-flex justify-content-center">
    <h4 class="modal-firstName .text-center">{{ modalTitle }}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="cityForm" (ngSubmit)="save(f)" #f="ngForm">
      <div class="row">

        <div class="col-md-12 mb-2">
          <label class="mb-0">Name <span class="mandatory">*</span></label>
          <input type="text" formControlName="name" class="form-control mt-0" placeholder="Enter name"
            [ngClass]="{ 'form-submitted': f.submitted }" />
          <!-- <div *ngIf="ui.checkErrors(g.name, f)" class="errors">
                      <p *ngIf="g.name.errors?.required">name is required</p>
                  </div> -->
        </div>
        <div class="col-md-12 mb-2">
          <label class="mb-0"> Year <span class="mandatory">*</span></label>
          <input type="text" formControlName="year" class="form-control mt-0" placeholder="Enter year"
            [ngClass]="{ 'form-submitted': f.submitted }" />
          <!-- <div *ngIf="ui.checkErrors(g.year, f)" class="errors">
                      <p *ngIf="g.year.errors?.required">year is required</p>
                  </div> -->
        </div>

        <div class="col-md-12 mb-2">
          <label class="mb-0">Authors <span class="mandatory">*</span></label>
          <input type="text" class="form-control mt-0" formControlName="authors" placeholder="Enter authors"
            [ngClass]="{ 'form-submitted': f.submitted }" />
          <!-- <div *ngIf="ui.checkErrors(g.authors, f)" class="errors">
                      <p *ngIf="g.authors.errors?.required">authors is required</p>
                  </div> -->
        </div>
        <div class="col-md-12 mb-2">
          <label class="mb-0">Summary <span class="mandatory">*</span></label>
          <input type="text" class="form-control mt-0" formControlName="summary" placeholder="Enter summary"
            [ngClass]="{ 'form-submitted': f.submitted }" />
          <!-- <div *ngIf="ui.checkErrors(g.summary, f)" class="errors">
                    <p *ngIf="g.summary.errors?.required">summary is required</p>
                </div> -->
        </div>

      </div>
      <div class="col-md-12 mb-2 d-flex justify-content-end">
        <div class="">
          <button type="submit" class="bg-primary save">
            Save
            <span></span>
            <span></span>
            <span></span>
          </button>
          <button type="button" style="margin-left: 10px;" class="save bg-danger"
            (click)="cancelRegionButton(f)">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmDel>
  <div class="modal-header d-flex justify-content-center">
    <h4 class="modal-firstName .text-center">Delete</h4>
  </div>
  <div class="modal-body text-center">
    <p>Do you want to Delete?</p>
    <button type="button" class="bg-primary save" (click)="modalRef.hide()">No</button>
    <button type="button" style="margin-left: 10px;" class="bg-danger save ml-3 " (click)="delete()">
      Yes
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</ng-template>
