<div id="home">
    <div class="container">

        <div class="row">
            <div class="col home-title">
                
                <div class="grid">
                    <h1>Book Comet.com</h1>
                    <button type="button" class="btn btn-outline-primary btn-lg" (click)="goToStore()">Books</button>
                </div>
            </div>
            <div class="col home-img">
                <img src="../../assets/books.jpg" class="book-comet" alt="bookstore" />

            </div>
        </div>

    </div>
</div>