#home {
    width: 100%;
    height: 100vh;

    .home-title {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Roboto', sans-serif;
            width: 350px;
            font-size: 45px;
        }
        button {
            width: 70%;
        }
    }

    .home-img {
        img {

            width: 100%;
            height: 100vh;

        }

    }


}